<div class="container">
<div class="cardContainer">
    <mat-card >

        <mat-card-header>
            <img height="100rem" width="100rem" src="../../assets/soporte.png" />
        </mat-card-header>

        <mat-card-content>
            <mat-card-title>
                {{consulta.problema}}
            </mat-card-title>
            <mat-card-subtitle>
                Especialidad:
                {{consulta.especialidad}}
                <!---div style="text-align:center">
                    <star-rating value="{{hotel.calificacion}}" checkedcolor="yellow" uncheckedcolor="black" size="34px"
                        readonly="true" (rate)="onRate($event)"></star-rating>

                    <mat-error *ngIf=" hotel.calificacion == null ||   hotel.calificacion == 0">
                        la califiacion del hotel <strong>es requerida</strong> y no puede ser 0
                    </mat-error>
                </div--->
            </mat-card-subtitle>
            <mat-icon mat-list-icon>map</mat-icon>
            {{consulta.direccion}}
        </mat-card-content>
        <mat-card-content>
            <mat-card-title>
                $ {{consulta.monto}}
            </mat-card-title>

        </mat-card-content>
    

        <button class="btn btn-outline-primary" type="submit" >VER</button>

    </mat-card>

</div>
</div>