<div class="container">
<table>
    <mat-divider></mat-divider>
    <h4 *ngIf="noTieneTrabajos() ">  NO TIENE CARGADO NINGUN PRESUPUESTO</h4>
  <div *ngIf="esCliente()">
    <div *ngFor="let elemento of trabajos" [routerLink]="['../jobDetails', elemento.id]" > 
     <app-trabajo [consulta]="elemento" [imagen]="imagen" [esConsulta]="false"></app-trabajo>
   </div>
  </div>
  <div *ngIf="esProfesional()">
   <div *ngFor="let elemento of trabajos" [routerLink]="['../jobAnswer', elemento.id]"> 
    <app-trabajo [consulta]="elemento" [imagen]="imagen" [esConsulta]="false"></app-trabajo>
  </div>
</div>
</table>
</div>