
<div class="container"> 
   <h2> ESTA ES LA PANTALLA DE PERFIL de {{userName()}} </h2>


</div>

<div class="cardContainer">
   <mat-card class="dataCard" *ngIf="perfilData | async as perfilData;">
     <img src="../../assets/perfil-avatar.jpg" width="250rem">
     <mat-card-header>
       <mat-card-title>
         USARIO: {{perfilData.usuario}}
       </mat-card-title>
       <mat-card-subtitle>
        NOMBRE Y APELLIDO:  {{perfilData.nombreyApellido}}
        <br>
         DNI: {{perfilData.dni}}
         <br>
         TELEFONO: {{perfilData.telefono}}
       </mat-card-subtitle>
     </mat-card-header>
     <mat-card-content>
       <strong>Tipo: </strong>{{tipo()}}<br>
       <!---strong>Poder de ataque: </strong>{{perfilData.poderDeAtaque| number:'1.2-2':'es'}}<br>
       <strong>XP: </strong>{{perfilData.experiencia| number:'1.2-2':'es'}}<br>
       <strong>Efectividad: </strong>{{perfilData.efectividad | number:'1.2-2':'es'}}<br---->
     </mat-card-content>
   </mat-card>
  
 </div>