    <div class="app-container" *ngIf="sinContratar()">
        <mat-card>
          <mat-toolbar>
            INFORMACION DEL TRABAJO A REALIZAR
          </mat-toolbar><br>
          <mat-card-content>
         
            <p>informacion acerca del la oferta propuesta por el tecnico,<br>
            queda en su responsabilidad contratar sus servicios. <br></p>
          </mat-card-content>
        </mat-card><br>
  
        <mat-card>
          <mat-card-content>
            <ul>
              <h5>  <p class="card-text"> <strong>Nombre:</strong> {{presupuesto.problema}}<br></p>
                <p class="card-text"> <strong>Direccion: </strong>{{presupuesto.direccion}}<br></p>
                <p class="card-text"><strong>Fecha de Creacion:</strong> {{presupuesto.fecha| date: 'dd/MM/yyyy' }}<br></p>
             <p class="card-text"><strong>Descripcion: </strong>{{presupuesto.direccion}}</p>
              <p class="card-text"><strong>Comentarios: </strong> {{oferta.comentario}} </p>
              <p class="card-text"><strong>Notas: </strong> {{presupuesto.notas}} </p>
              <p class="card-text"><strong>Precio: $</strong> {{oferta.monto}} </p> </h5>
          </ul>
          </mat-card-content>
          <mat-card-actions>
            <button type="submit" class="btn btn-outline-primary" (click)="aceptar()">Contratar</button> &nbsp;
            <button type="submit" class="btn btn-outline-primary" (click)="cancelar()">Volver</button>
          </mat-card-actions>
        </mat-card>
  
      </div>


      <div class="app-container" *ngIf="estaContratado()">
        <mat-card>
          <mat-toolbar>
            INFORMACION DEL TRABAJO
          </mat-toolbar><br>
          <mat-card-content>
            <p>informacion acerca del trabajo en curso<br>
            <br></p>
          </mat-card-content>
        </mat-card><br>
  
        <mat-card>
          <mat-card-content>
            <ul>
              <h5>  <p class="card-text"> <strong>Nombre:</strong> {{presupuesto.problema}}<br></p>
                <p class="card-text"> <strong>Direccion: </strong>{{presupuesto.direccion}}<br></p>
                <p class="card-text"><strong>Fecha de Creacion:</strong> {{presupuesto.fecha| date: 'dd/MM/yyyy' }}<br></p>
             <p class="card-text"><strong>Descripcion: </strong>{{presupuesto.descripcion}}<br></p>
              <p class="card-text"><strong>Notas: </strong> {{presupuesto.notas}} <br></p>
              <p class="card-text"><strong>Precio: $</strong> {{presupuesto.monto}} <br></p>
              <p class="card-text"><strong>Profesional a cargo:</strong> {{profesional.nombreyApellido}} </p> </h5>
              
          </ul>
          </mat-card-content>
          <mat-card-actions>
            <button type="submit" class="btn btn-outline-primary" (click)="finalizar()">Finalizar</button> &nbsp;
            <button type="submit" class="btn btn-outline-primary" (click)="cancelar()">Volver</button>
          </mat-card-actions>
        </mat-card>
  
      </div>

      <div class="app-container" *ngIf="estaFinalizado()">
        <mat-card>
          <mat-toolbar>
            INFORMACION DEL TRABAJO
          </mat-toolbar><br>
          <mat-card-content>
            <p>informacion acerca del trabajo finalizado<br>
            <br></p>
          </mat-card-content>
        </mat-card><br>
  
        <mat-card>
          <mat-card-content>
            <ul>
              <h5>  <p class="card-text"> <strong>Nombre:</strong> {{presupuesto.problema}}<br></p>
                <p class="card-text"> <strong>Direccion: </strong>{{presupuesto.direccion}}<br></p>
                <p class="card-text"><strong>Fecha de Creacion:</strong> {{presupuesto.fecha| date: 'dd/MM/yyyy' }}<br></p>
             <p class="card-text"><strong>Descripcion: </strong>{{presupuesto.direccion}}</p>
              <!--p class="card-text"><strong>Comentarios: </strong> {{presupuesto.comentario}} </p--->
              <p class="card-text"><strong>Notas: </strong> {{presupuesto.notas}} </p>
              <!---p class="card-text"><strong>Precio: $</strong> {{presupuesto.monto}} </p> </h5--->
              <p class="card-text"><strong>Nombre del Tecnico: $</strong> {{presupuesto.monto}} </p> </h5>
          </ul>
          </mat-card-content>
          <mat-card-actions>
            <button type="submit" class="btn btn-outline-primary" (click)="cancelar()">Volver</button>
          </mat-card-actions>
        </mat-card>
  
      </div>