<div class="container">
<div class="card" style="width: 70rem;">
    <div class="card-body">
        <h3 class="card-title">INFORMACION DE LA OFERTA DE TRABAJO</h3>

        <h5 class="card-title">Nombre: {{jobData.problema}}</h5>
        <h5 class="card-subtitle mb-2 text-muted">Especialidad: {{jobData.especialidad}}</h5>
        <h5 class="card-subtitle mb-2 text-muted">Direccion: {{jobData.direccion}}</h5>
        <h5 class="card-subtitle mb-2 text-muted">Fecha de Creacion: {{ofertaJob.fechaCreada | date: 'dd/MM/yyyy'}} </h5>
      <p class="card-text">Descripcion: {{jobData.descripcion}}</p>
      <p class="card-text">Notas: {{jobData.notas}}</p>
    </div>
  </div>

  <form>
    <label><strong>Comentario: </strong></label>
    <div class="form-group col-5">
      <textarea class="form-control"  rows="3" placeholder="Introduce un comentario"[(ngModel)]="ofertaJob.comentario" [ngModelOptions]="{standalone: true}"></textarea>
    </div>
    <label><strong>Monto: </strong></label>
    <div class="form-group  col-3">
      <input type="number" class="form-control" [(ngModel)]="ofertaJob.monto" [ngModelOptions]="{standalone: true}">
    </div>
 
    <button type="submit" class="btn btn-outline-primary" (click)="aceptar()">Aceptar</button> &nbsp;
    <button type="submit" class="btn btn-outline-primary" (click)="cancelar()">Volver</button>
  </form>
</div>