<div class="container">

    <div>
        <label for=""> Hola <span class="spanStyle"> {{userChat.user}}</span> ...Escribe algo</label> &nbsp;
       
        <div> <input type="text" class=" col-4"  [(ngModel)]="userChat.text">&nbsp;
             <button class="btn btn-md btn-primary " type="submit"  (click)="myMessage()">Enviar</button>
        </div>
    </div>
    <div class="mt-3">
        <div *ngFor="let a of myMessages">
            <label for="" class="spanStyle" >{{a.user}}: </label> &nbsp;
            <span>{{a.text}}</span>
        </div>

    </div>

</div>


<!---textarea [(ngModel)]='document.doc' (keyup)='editDoc()' placeholder='Start typing...'></textarea-->