
<!--div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Iniciar sesion</h3>
			</div>
			<div class="card-body">
				<form [formGroup]="loginForm">
					<div class="input-group form-group">
                        <div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>                    
                 <input type="text" class="form-control" placeholder="username" formControlName="username" [(ngModel)]="userCredentials.idUsuario">				
                    </div>
                    
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" formControlName="password" [(ngModel)]="userCredentials.password">
                    </div>
                    
					<div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit"  (click)="authenticate()" [disabled]="formHasData()" >Ingresar</button>
					</div>
				</form>
			</div>
		</div>
    </div --->
    
<div class="container">
    <div class=" justify-content-center">
		<div class="card"> 
			<div class="card-header">
				<h3>Iniciar sesion</h3>
			</div>
    <form action="action_page.php" [formGroup]="loginForm">
        <div class="imgcontainer">
          <img     src="https://dcassetcdn.com/design_img/2958933/496643/496643_16302248_2958933_e0b3fc15_image.jpg"
          alt="Avatar" class="avatar">
        </div>
      
        <div class="container">
          <label for="uname"><b>Usuario</b></label>
          <input type="text" class="form-control" placeholder="username" formControlName="username" [(ngModel)]="userCredentials.idUsuario">		
      
          <label for="psw"><b>Contraseña</b></label>
          <input type="password" class="form-control" placeholder="password" formControlName="password" [(ngModel)]="userCredentials.password">
      
          <button class="btn btn-lg btn-primary btn-block" type="submit"  (click)="authenticate()" [disabled]="formHasData()" >Ingresar</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Recordar
          </label>
        </div>
      
        <!--div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancelar</button>
          <span class="psw">Olvido su <a href="#">Contraseña?</a></span>
        </div--->
      </form>
    </div>
    </div>
    </div>