<!-- Toolbar -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

<div class="toolbar" role="banner">
  <img
    alt="Angular Logo"
    src="https://w7.pngwing.com/pngs/961/228/png-transparent-claw-hammer-nail-cartoon-hammers-angle-hammer-framing-hammer.png"
    width="50rem" routerLink="home"
  />
  <span routerLink="home">Usuario</span>
  <div class="spacer"></div>

 
  <span class="mainToolbarSpacer"></span>
  <span *ngIf="isLogged()">
    <a button routerLink="home">
      Home
    </a>
    <a button [routerLink]="['/perfil',loggedId()]">
      Perfil
    </a>
  </span>

</div>
</nav>


  <router-outlet></router-outlet>


