<!-- Toolbar -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

<div class="toolbar" role="banner">
  <img
    alt=" Logo"
    src="../assets/martillo.png"
    width="50rem" routerLink="login"
  />
  <span routerLink="home/perfil">Usuario</span>
  <div class="spacer"></div>

  <span class="mainToolbarSpacer"></span>
  <!---span *ngIf="isLogged()"-->
    <span *ngIf="false">
    <a button routerLink="home">
      Home
    </a>
    <a button [routerLink]="['/perfil',loggedId()]">
      Perfil
    </a>
  </span>

  
</div>
</nav>


  <router-outlet></router-outlet>


