<div class=" container">
    <div class="card card-body ">
      <h4 class="card-title">Obtener Presupuesto</h4>
      <form [formGroup]="busquedaForm" (ngSubmit)="buscar()">
        <div class="form-row">
            <div class="form-group col-md-4" formGroupName="asiento">
                <label for="clase">Especialidad</label>
                <select class="form-control" formControlName="clase" required>
                  <option [value]="especialidad" *ngFor="let item of especialidad">{{item}}</option>
                </select>
              </div>
          <div class="md-form" class="form-group col-md-4">
            <label for="origen">Problema</label>
            <input type="text" class="form-control" formControlName="problema" placeholder="Ingrese el problema" required>
          </div>
        </div>
 
      </form>
    </div>
    <button type="submit" class="btn btn-outline-primary">Buscar</button>  &nbsp; 
    <button type="submit" class="btn btn-outline-primary" >Limpiar Campo </button> &nbsp;
    <button type="submit" class="btn btn-outline-primary" >Consultar Presupuesto </button>
    
    
    <!---div class="container m-1">
      <div class="abs-center">
        <table class="table table-sm table-dark">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Especialidad</th>
              <th scope="col">Fecha </th>
              <th scope="col">Monto</th>
              <th scope="col">Escala</th>
              <th scope="col">Duracion</th>
              <th scope="col">Desde</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vuelo of vuelos" [class.selected]="vuelo === vueloSelecionado" (click)="onSelect(vuelo)">
              <th scope="row">{{vuelo.origen}}</th>
              <td>{{vuelo.destino}}</td>
              <td>{{vuelo.aerolineaNombre}}</td>
              <td>{{vuelo.fechaDeSalida.year + "/" + vuelo.fechaDeSalida.monthValue + "/" + vuelo.fechaDeSalida.dayOfMonth  }}</td>
              <td>{{vuelo.escala}}</td>
              <td>{{vuelo.duracion}}</td>
              <td>{{vuelo.menorPrecio | currency: 'USD' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    
    <div *ngIf="vueloSelecionado">
    </div--->
    
    
    <!---div class="form-row container">
    
      <div class="form-group col-12">
        <button type="button" class="btn btn-outline-primary col-12"
          (click)="addToCart(vueloSelecionado,asientoSeleccionado)">Agregar Al carrito</button> <br>
      </div>
    
    </div>
    
    <div class="form-row container">
    
      <div class="form-group col-md-6">
        <label> En el carrito : {{cantidadPasajes()}}</label>
      </div>
    
    </div>
    
    <div class="form-row container ">
    
      <div class="col-md-6">
        <label> Total en el carrito: {{  montoCarrito()}}</label>
      </div>
    
      <div class="col-md-4">
        <a type="button" routerLink="../ticket"  routerLinkActive="active" class="btn btn-outline-primary">Finalizar compra</a>
      </div>
    </div>
    </div---->