<form role="form">

    <div class="form-group">
        <label for="ejemplo_password_1">Especialidad</label>
        <input type="text" class="form-control" id="ejemplo_password_1"  placeholder="Especialidad">
      </div>

      <div class="form-group">
        <label for="ejemplo_password_1">Problema</label>
        <input type="text" class="form-control" id="ejemplo_password_1"  placeholder="titulo del problema">
      </div>

    <div class="form-group">
        <label for="ejemplo_password_1">Direccion</label>
        <input type="text" class="form-control" id="ejemplo_password_1"  placeholder="Direccion">
      </div>

    <div class="form-group">
      <label for="ejemplo_email_1">Descripcion</label>
      <input type="text" class="form-control"    placeholder="Introduce la descripcion del problema">
    </div>
   
    <div class="form-group">
      <label for="ejemplo_archivo_1">Adjuntar un archivo</label>
      <input type="file" id="ejemplo_archivo_1">
      <p class="help-block">Ejemplo de texto de ayuda.</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Activa esta casilla
      </label>
    </div>
    <button type="submit" class="btn btn-default">Enviar</button>
  </form>